[package]
name = "rust-linter"
version = "0.1.0"
edition = "2018"

[[bin]]
name = "rust-linter"
path = "src/main.rs"

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
panic = 'abort'

[dependencies]

[dev-dependencies]
assert_cmd = "0.10"
predicates = "1"
